.Intro {

@media (min-width: 560px) and (max-width: 1199px) {
  & .titleHome {
    font-size: 4.0em;
  }
  & .imgApple {
    padding-right: 0.7em;
    padding-bottom: 6em;
  }
  & .imgGoogle {
    padding-left: 0.7em;
    padding-bottom: 6em;
  }

}
@media (min-width: 50px) and (max-width: 559px) {
  & p {
    text-align: center;
  }
  & .titleHome {
    font-size: 3.0em;
    text-align: center;
  }
  & .imgApple {
    padding-bottom: 0.7em;
    display: block;
    margin: 0 auto;
}
  & .imgGoogle {
    padding-bottom: 0.7em;
    display: block;
    margin: 0 auto;
  }
}
}